<div class="container">
    <div class="row">
        {{#each products.payload}}
        <div class="col mt-3">
            <div class="card" style="width: 18rem;">
                <a href="http://localhost:8080/products/{{this._id}}">
                    <img src="{{thumbnail}}" class="card-img-top" style="object-fit: cover; height: 12rem;" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title" style="height: 4rem;">{{this.title}}</h5>
                    <p class="card-text">{{description}}</p>
                    <button class="btn btn-primary" onclick="addToCart('{{{this._id}}}')">Add to Cart</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="row my-5">
        <div class="col">
            <nav>
                <ul class="pagination justify-content-center">
                    {{#if products.hasPrevPage}}
                    <li class="page-item">
                        <a class="page-link" href="{{products.prevLink}}">
                            << </a>
                    </li>
                    {{/if}}
                    {{#if products.hasPrevPage}}
                    <li class="page-item">
                        <a class="page-link" href="{{products.prevLink}}">{{products.prevPage}}</a>
                    </li>
                    {{/if}}
                    <li class="page-item">
                        <a class="page-link">{{products.page}}</a>
                    </li>
                    {{#if products.hasNextPage}}
                    <li class="page-item">
                        <a class="page-link" href="{{products.nextLink}}">{{products.nextPage}}</a>
                    </li>
                    {{/if}}
                    {{#if products.hasNextPage}}
                    <li class="page-item">
                        <a class="page-link" href="{{products.nextLink}}">>></a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="/js/cart.js"></script>
<script src="/js/product.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        function getCookieValue(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) {
                return parts.pop().split(';').shift();
            }
        }

        const userInfoString = getCookieValue('userInfo');

        if (userInfoString) {
            const decodedUserInfo = decodeURIComponent(userInfoString);
            const userInfo = JSON.parse(decodedUserInfo);

            if (userInfo) {
                Swal.fire({
                    icon: 'success',
                    title: `Welcome back, ${userInfo.firstName} ${userInfo.lastName}!`,
                    text: 'Login Successful!',
                    timer: 3000
                })
            }
        }
    });
</script>